*{margin: 0; padding: 0; box-sizing: border-box;}

ul,li,ol{
    list-style: none;
    cursor: pointer;
}

img{
    cursor: pointer;
}


.nav-section{
    display: flex;
    justify-content: center;
}

.menu_list{
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
}

.menu_list ul{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.login-button{
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    cursor: pointer;
    gap: 20px;
    align-items: center;
}

.input{
    position: absolute ;
    right: 10vw;
    border-bottom: 2px solid #333;
}

.input input{
    border: none;
    outline: none;
    margin-left: 10px;
}

.productCard{
    margin: 5px;
}

.img-wrap{
    overflow: hidden;
    height: auto;
}

.img-wrap div{
    height: 40px;
}

.productCard img{
    width: 100%;
    transition: 0.3s;
}

.productCard:hover img{
    transform: scale(1.2);
}

.productCard .title{
    font-weight: bold;
}

.product-img img{
    display: block;
    margin-left: auto;
}

.product-desc{
    padding-left: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.desc_tit{
    font-size: 20px;
    font-weight: 500;
}

.sizeBtn{
    margin: 1rem 0;
}

